@charset "UTF-8";   

/*Essa é a versão mobile, padrão do site, as configurações gerais do site e especificas para mobile estarão aqui, depois que essa folha ficar pronta, você faz outra página de css com as personalizações específicas usando midia feature com 'max-width' e 'min-width' para personalização para outras telas, podendo simplemente so tirar o que se usou nessa página*/


* {
    margin: 0px;
    padding: 0px;
}

html {
    background-color: gray;
}

header {
    background-color: lightgray;
    font-family: Arial, Helvetica, sans-serif;
}

header > h1 {
    text-align: center;
    padding: 20px;
}

span#burger {
    background-color: rgb(87, 86, 86);
    display: block;
    color: white;
    text-align:center;
    padding: 10px;

    /*Faz com que ao passar o mouse sobre o menu o ponteiro vira um mãozinha*/
    cursor: pointer;
}

span#burger:hover {
    background-color: white;
    color: black;
}

/*Não carrega o menu quando abre o site*/
menu {
    display: none;
}

/*Quando clicar no 'hamburguinnho' o menu abre*/
span#burger:hover {
    display: block;
}

menu > ul {
    list-style-type: none;
}

menu > ul > li > a{
    display: block;
    padding: 10px;
    text-decoration: none;
    text-align: center;
    background-color: darkgray;
    color: white;
    border-top: 2px solid gray;
}

menu > ul > li a:hover {
    background-color: gray;
}

main {
    width: 90vw;
    background-color: white;
    margin: auto;
    padding: 10px;
    border-radius: 10px;
    margin-top: 10px;
}

article > h2 {
    padding: 20px;
}

article > p {
    text-align: justify;
    margin-bottom: 20px;
    text-indent: 20px;
}

