@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: gray;
    margin: 0px auto;
}


header {
    background-color: black;
    height: 170px;
    min-width: 530px;
    margin: auto;
}

header > h1 {
    text-align: center;
    color: white;
    font-family: "Passion One", sans-serif;
    font-weight: 700;
    padding: 30px 0px 10px 0px;
    font-size: 3em;
}

header > h2 {
    text-align: center;
    color: white;
    font-family: "Sriracha", cursive;
    font-weight: 400;
    font-size: 12px;
}

header a {
    text-decoration: none;
    color: white;
}

header a:hover {
    text-decoration: underline;
}

main { 
    margin: auto; /*Centralizando o conteúdo no meio da página para telas grandes*/
    background-color: white;

    /*Configurções para a imagem colar na bordar do main*/
    max-width: 600px; /*Lagura máxima*/
    min-width: 550px; /*Largura mínima*/
}

section {
    font-family: "Sriracha", cursive;
    padding: 30px;
}


footer {
    background-color: black;
    color: white;
    padding-top: 5px;
    text-align: center;
    margin: -30px -30px;
}

footer a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

footer a:hover {
    text-decoration: underline;
}