@charset "UTF-8";

/*Para móveis*/

body {
    background-image: url(../imagens/back-phone.jpg);
}


img#celular {
    display: block;
    margin: auto;
}


img#pc {
    display: none;
}
img#impressora {
    display: none;
}
img#tablet {
    display: none;
}
img#tv {
    display: none;
}