@charset "UTF-8";

/*Para todas as telas*/

*{
    margin: 0px;
    border: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: url(../imagens/back-phone.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}

main {
    background-color: rgba(255, 255, 255, 0.696);
    width: 90vw;
    margin: auto;
    padding: 10px;
    border-radius: 10px;
}

main > h1 {
    text-align: center;
    color: white;
    text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.551);
}

img#pc {display: none;}
img#tv {display: none;}
img#impressora {display: none;}
img#tablet {display: none;}
img#celular {display: block;}

img {
    margin: auto;
}


